DJANGO_SECRET_KEY=replace-with-a-secure-random-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=UTC

POSTGRES_DB=mousexgene
POSTGRES_USER=mousexgene
POSTGRES_PASSWORD=mousexgene
POSTGRES_HOST=db
POSTGRES_PORT=5432
